langchain-core==0.3.75
langchain==0.3.27
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
bitsandbytes>=0.46.1
pymupdf
sentence-transformers
rank_bm25
faiss-cpu
transformers
accelerate
gspread
gspread-dataframe
openpyxl
pandas
peft
